
<table class="bookTable container-fluid">
  <thead class="bookTitles">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Language</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody class="bookRow">
    <tr *ngFor="let book of bookList">
      <td>
        <img src="{{book.imageUrl}}">
        <button class="btn btn-primary" (click)="addBook(book)">Add to books</button>
      </td>
      <td>{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>{{book.language}}</td>
      <td>{{book.unitCost | currency: 'USD': true: '1.2-2'}}</td>
    </tr>
  </tbody>
</table>
