
body {
  padding:10px;
  color: #868e96;
}


div {
  &.appNavigationBar {
    a {
      text-decoration: none;
      cursor: pointer;

      &.navigationTab{
        padding:5px 100px;
      }
    }
  }
}

.activeLink{
  color: #0000cc !important;
  font-weight: bold;
}
