div {
  &.myBooks {
    clear: both;
   >div {
     width: 300px;
     float: left;
     padding: 10px;
   }
  }
  &.bookTotal {
    position: -webkit-sticky;
    position: sticky;
    padding: 20px 5px;
    font-size: 20px;
    top: 0;
    background-color: white;
    z-index: 100;
    text-align: center;
  }
}
