div {
  &.myBooks {
    clear: both;
   >div {
     width: 300px;
     float: left;
     padding: 10px;
   }
  }
  &.bookTotal {
    position: -webkit-sticky;
    position: sticky;
    padding: 20px 5px;
    font-size: 20px;
    top: 0;
    background-color: white;
    z-index: 100;
    text-align: center;
  }
  &.selectedBookSection {
    >div {
      border: 1px solid lightgrey;
      padding: 5px;

      >div {
        padding: 3px 2px;

        &.bookDescription {
          white-space: nowrap;
          width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      a {
        &.shoMoreless, &.shoMoreless:hover {
          color: blue;
          cursor: pointer;
        }
      }
    }
  }
}
